/***************   General Styling     *************************/

html, body, h1, h2, h3, h4, p, a {
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 3em;
	padding: 0.5em;
}

.hive-logo {
	font-family: Lobster;
	color: #f1526e;
	margin: 0 3px;
}

/******************** Header Styling *********************/

.hamburger {
	display: block;
	height: 160px;
	width: 160px;
	float: right !important;
	
}

.header-section {
	height:100vh;
	min-width: 100%;
	min-height: 100%;
	background-color: #D3D3D3;
	background: url('../img/bg.jpg') no-repeat;
	background-position: cover;
	position: relative;
}

.header-section img {
	 width:40%;
	  display:block;
	  position:absolute;
	  left:0;
	  right:0;
	  bottom:0;
	  margin:auto;
}

.header-section h2 {
	font-size: 64px;
}

.header-section h3 {
	font-size: 34px;
}

.main-header {
	text-align: center;
}

.content {
	text-align: center;
}

.content h2 {
	margin: 40px 0 20px;
}

.join-button {
	display: block;
	margin: 35px auto;
	border-radius: 15px;
	padding: 15px 20px;
	border-color: #fff;
	background-color: #fff;
}

.features-img {
	height: 120px;
	margin-top: 30px;
}

.feature-text {
	margin: 20px auto;
	width: 70%;
}

/**********    expanded-benefits     **********/

.expanded-benefits {
	background-color: #E8E8E8;
	height: 530px;
}

.expanded-content {
	margin-top: 150px;
	width: 60%;
}

.expanded-content h3{
	margin-bottom: 20px;
}

.expanded-button{
	margin-top: 20px;
	background-color: transparent;
	border: 5px solid #525252;
	border-radius: 15px;
	padding: 10px 15px;
}

.expanded-second {
	background-color: #fff;
}

/**********    join     **********/

.join-form {
	height: 200px;
	background: #45c6cb; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #45c6cb , #F5516E); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #45c6cb, #F5516E); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #45c6cb, #F5516E); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #45c6cb, #F5516E); /* Standard syntax */
}

.join-content {
	margin-top: 60px;
}

.signup-input {
	display: inline;
	float: left;
	border-radius: 10px;
}

.signup-button {

	float: left;
	background: transparent;
	color: #fff;
	border-radius: 10px;
	border-color: 10px;
}

.join-headline {
	font-size: 26px;
}

/**********    feature overview     **********/

.feature-overview {
	text-align: center;
	margin-top: 40px;
}

.feature-overview p {
	margin: 0 auto 30px;
	width: 60%;
}

.featured-headline {
	margin-bottom: 15px;
}

.overview-img {
	height: 80px;
	display: block;
	margin: 0 auto;
} 

.feature-text {
	text-align: center;
}